* {
  margin: 0;
  padding: 0;
  /*border: 1px solid green;*/
  font-family: "Droid Sans", "HelviticaNeue", sans-serif;
}

body {
  /*background: lightgray;*/
  color: white;
}



/*/// NAVIGATION MENU ///*//*/// NAVIGATION MENU ///*//*/// NAVIGATION MENU ///*/



nav {
  display: flex;
  position: fixed;
  justify-content: center;
  height: 40px;
  width: 100%;
}

.nav {
  width: 1250px;
  height: 40px;
  display: inline-flex;
  justify-content: space-between;
  font-size: 12pt;
  font-weight: 300;
}

.navLeft {
  display: flex;
  flex-direction: row;
  letter-spacing: 2px;
}

.menuItemLeft {
  display: inline-block;
  line-height: 40px;
  text-decoration: none;
  color: white;
  width: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.navRight {
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
}

.menuItemRight {
  display: inline-block;
  line-height: 40px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}

.menuItemRight:hover {
  color: gray;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0);
}



/*/// HOME PAGE ///*//*/// HOME PAGE ///*//*/// HOME PAGE ///*//*/// HOME PAGE ///*/



.home {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(http://i.imgur.com/693FaOV.jpg);
  /*https://s-media-cache-ak0.pinimg.com/originals/9f/58/ec/9f58ec42c1689de711ac16af3531ec46.jpg*/
  background-size: cover;
  background-position: center;
  /*background: gray; /* backgroud Img to replace */*/
}

h1 {
  font-size: 30pt;
  font-weight: 400;
}

h3 {
  font-weight: 500;
}

/*.navSpacer {
  height: 20px;
}*/

.headerDesc {
  height: 30px;
}

.spacer {
  margin-top: 30px;
  display: block;
  height: 40px;
}

.spacerContent {
  display: none;
}

.arrowDown {
  /*display: none;*/
  position: relative;
  height: 40px;
  top: 270px;
  font-weight: 200;
  cursor: pointer;
  transition: all .4s ease;
}

.arrowDown i:before {
  font-size: 30px;
}

.arrowDown a, .typed-cursor {
  text-decoration: none;
  color: white;
  opacity: 1;
  -webkit-animation: blink 2s infinite;
  -moz-animation: blink 2s infinite;
  animation: blink 2s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.arrowDown a:hover {
  text-shadow: 0 0 20px white;
}

/*.typed-cursor{
  display: none;
}*/

.element, .typed-cursor{
  font-size: 40pt;
}



/*/// About Me ///*//*/// About Me ///*//*/// About Me ///*//*/// About Me ///*/



.container {
  width: 960px;
  display: inline-block;
}

.about {
  /*height: 140vh;*/
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  background: rgba(250, 250, 250, 1);
}

.about h1 {
  padding: 50px 0 30px 0;
  /*display: none;*/
  visibility: hidden;
  left: -50px;
  position: relative;
}

.fadeIn {
  animation: animat_show 1s;
  animation: animat_show 1s;
  visibility: visible !important;
}

@keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}

.about .h1spacer {
  height: 126px;
}



.about p {
  /*width: 500px;*/
  text-align: center;
  padding: 0 100px 50px 100px;
  line-height: 1.8;
}



/*/// SKILLS ///*/

.skills {
  /*height: 100vh;*/
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  background: lightblue;
}

.skills h1 {
  padding: 50px;
}

.skills h2 {
  padding-bottom: 20px;
  font-weight: 400;
}

.skillsIcon {
  display: inline-block;
  /*border: 1px solid black;*/
  vertical-align: top;
  height: 100px;
  width: 100px;
  margin: 1%;
}

i:before {
  font-size: 40px;
}

i:hover {
  color: gray;
}

.skills span {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.skillsSpacer {
  height:40px;
}



/*/// Projects ///*//*/// Projects ///*//*/// Projects ///*//*/// Projects ///*/




.projects {
  /*height: 100vh;*/
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  background: white;
}

.projects h1 {
  padding: 50px 0;
}

.projectsDiv {
  width: 50%;
  display: inline-block;
  height: 400px;
  margin: 1%;
  vertical-align: top;
  /*border: 1px solid black;*/
}

.projectImgCont {
  width: 100%;
  height: 60%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  overflow: hidden;
}

.projectImg {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}

.projectImg:hover {
  transform: scale(1.1);
}

.twettirImg {
  background: url('../images/twettir.png');
  background-size: cover;
  background-position: top;
}

.thisAppImg {
  background: url('../images/thisapp.png');
  background-size: cover;
  background-position: top;
}




/*/// CONTACT ///*//*/// CONTACT ///*//*/// CONTACT ///*//*/// CONTACT ///*//*/// CONTACT ///*/




.contact {
  height: 50vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact .container {
  width: 960px;
}

.contact h1 {
  font-weight: 300;
}


/*/// FOOTER ///*//*/// FOOTER ///*//*/// FOOTER ///*//*/// FOOTER ///*//*/// FOOTER ///*/

footer {
  display: flex;
  position: relative;
  justify-content: center;
  height: 150px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);;
}

.footer {
  width: 1250px;
  height: 150px;
  display: inline-flex;
  justify-content: center;
  font-size: 13pt;
  font-weight: 300;
}

.footer i {
  margin: 20px 10px;
}








/*/// SVG ///*//*/// SVG ///*//*/// SVG ///*//*/// SVG ///*//*/// SVG ///*//*/// SVG ///*/


/*.svg1 {
  background:url('../images/thisapp.png');
    background-size: cover;
  background-position: top;
  width:40vmin; height:auto;
  display:inline-block;;
  margin: 20px 12vmin;
}

.svg2 {
  background:url('../images/twettir.png');
    background-size: cover;
  background-position: top;
  width:40vmin; height:auto;
  display:inline-block;
  margin: 20px 12vmin;
}

text{
  font-size:7pt;
  transition:font-size .6s ease-out;
  font-weight:900;
  font-family:arial;
}
.svg1:hover text{
  transition:font-size .6s ease-in;
  font-size: 500pt;
}

.svg2:hover text{
  transition:font-size .6s ease-in;
  font-size: 500pt;
}*/
