
* {
  margin: 0;
  padding: 0;
  font-family: "Droid Sans", "HelviticaNeue", sans-serif;
}

body {
  /*background: lightgray;*/
  color: white;
}



/*/// NAVIGATION MENU ///*//*/// NAVIGATION MENU ///*//*/// NAVIGATION MENU ///*/



nav {
  display: flex;
  position: fixed;
  justify-content: center;
  height: 40px;
  width: 100%;
  z-index: 500;
}

.nav {
  width: 1250px;
  height: 40px;
  padding: 0 5%;
  display: inline-flex;
  justify-content: space-between;
  font-size: 12pt;
  font-weight: 300;
}

.navLeft {
  display: flex;
  flex-direction: row;
  letter-spacing: 2px;
}

.menuItemLeft {
  display: inline-block;
  line-height: 40px;
  text-decoration: none;
  color: white;
  width: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.navRight {
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
}

.menuItemRight {
  display: inline-block;
  line-height: 40px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}

.menuItemRight:hover {
  color: gray;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0);
}



/*/// HOME PAGE ///*//*/// HOME PAGE ///*//*/// HOME PAGE ///*//*/// HOME PAGE ///*/



.home {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(http://i.imgur.com/693FaOV.jpg);
  /*https://s-media-cache-ak0.pinimg.com/originals/9f/58/ec/9f58ec42c1689de711ac16af3531ec46.jpg*/
  background-size: cover;
  background-position: center;
  /*background: gray; /* backgroud Img to replace */*/
}

h1 {
  font-size: 30pt;
  font-weight: 400;
}

h3 {
  font-weight: 500;
}

.headerDesc {
  height: 30px;
}

.spacer {
  margin-top: 30px;
  display: block;
  height: 40px;
}

.spacer a {
  text-decoration: none;
  color: white;
  z-index: 2;
}

.spacerContent {
  display: none;
}

.arrowCont {
  position: absolute;
  display: flex;
  top: 63%;
  height: 35%;
  vertical-align: bottom;
  align-items: flex-end;
}

.arrowDown {
  position: relative;
  font-weight: 200;
  cursor: pointer;
  transition: all .4s ease;
}

.arrowDown i:before {
  font-size: 30px;
}

.arrowDown a, .arrowUp a, .typed-cursor {
  text-decoration: none;
  color: white;
  opacity: 1;
  animation: blink 2s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.arrowDown a:hover {
  text-shadow: 0 0 20px white;
}

/*.typed-cursor{
  display: none;
}*/

.element, .typed-cursor{
  font-size: 40pt;
}

.home a {
  margin: 20px 10px;
}

i:before {
  font-size: 40px;
}

i:hover {
  color: lightblue;
}



/*/// About Me ///*//*/// About Me ///*//*/// About Me ///*//*/// About Me ///*/




.about {
  /*height: 100vh;*/
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  background: white;
  /*overflow: scroll;*/
}

.about .container {
  padding: 0 5%;
  width: 960px;
  display: inline-block;
}

.about h1 {
  padding: 50px 0 30px 0;
  max-width: 300px;
  margin: 0 auto;
  /*display: none;*/
  visibility: hidden;
  left: -50px;
  position: relative;
}

.about p {
  visibility: hidden;
  left: -50px;
  position: relative;
}

.fadeIn {
  animation: animat_show 1s;
  animation: animat_show 1s;
  visibility: visible !important;
}

@keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}

.about p {
  /*width: 500px;*/
  text-align: center;
  padding-bottom: 40px;
  max-width: 750px;
  line-height: 2;
  margin: 0 auto;
}



/*/// SKILLS ///*/

.skills {
  /*height: 100vh;*/
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  background: lightblue;
}

.skills .container {
  padding: 0 5%;
  width: 960px;
  display: inline-block;
}

.skills h1 {
  padding: 50px;
}

.skills h2 {
  padding-bottom: 20px;
  font-weight: 400;
}

.skillsIcon {
  display: inline-block;
  /*border: 1px solid black;*/
  vertical-align: top;
  height: 100px;
  width: 100px;
  margin: 1%;
}

.skills i:before {
  font-size: 40px;
}

.skills i:hover {
  color: gray;
}

.skills span {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.skillsSpacer {
  height:40px;
}



/*/// Projects ///*//*/// Projects ///*//*/// Projects ///*//*/// Projects ///*/
/*/// Projects ///*//*/// Projects ///*//*/// Projects ///*//*/// Projects ///*/
/*/// Projects ///*//*/// Projects ///*//*/// Projects ///*//*/// Projects ///*/





html, body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {
	height: 100%;
}


/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#fbsection1 {
	background-image: url(../images/twettir.png);
  background-size: 50%;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: static;
  transition: 1s ease-in-out;
  background-color: white;
}

#fbsection2 {
	background-image: url(../images/thisapp.png);
    background-size: 50%;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: static;
  transition: 1s ease-in-out;
  background-color: lightblue;
  /*background: lightblue;*/
}

#fbsection3 {
	background-image: url(../images/tictactoe.png);
    background-size: 50%;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: static;
  transition: 1s ease-in-out;
  background-color: #1F1E20;
  /*background: lightgray;*/
}

#fbsection4 {
	background-image: url(../images/moviegram.png);
  background-size: 50%;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: static;
  transition: 1s ease-in-out;
  background-color: lightblue;
  /*background: lightgray;*/
}

#fbsection5 {
	background-image: url(../images/thisapp.png);
    background-size: 50%;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: static;
  transition: 1s ease-in-out;
  background-color: white;
  /*background: lightgray;*/
}




/*/// Projects ///*//*/// Projects ///*//*/// Projects ///*//*/// Projects ///*/
/*/// Projects ///*//*/// Projects ///*//*/// Projects ///*//*/// Projects ///*/
/*/// Projects ///*//*/// Projects ///*//*/// Projects ///*//*/// Projects ///*/

.projecthead {
  height: 100px;
}

.projects h1 {
  padding: 50px 0;
  text-align: center;
  color: gray;
}


.projects {
  height: 100vh;
  width: 100vw;
  /*text-align: center;*/
  color: gray;
  background: white;
  /*position: absolute;
  overflow: scroll;*/
}

.projects.container {
  padding: 0 5%;
  width: 100%;
  /*width: 960px;*/
  /*border: 1px solid black;*/
  display: inline-block;
}



.projectsDiv {
  max-width: 960px;
  display: flex;
  height: 400px;
  /*margin: 1%;*/
  vertical-align: top;
  margin: 0 auto;
  /*border: 1px solid black;*/
  margin-bottom: 20px;
  /*overflow: scroll;*/
}

.projectLinks {
  margin-top: 20vh;
  width: 35%;
  line-height: 2;
}

#fbsection1 .projectLinks {
  transform: translateY(-120px);
}

.projects i {
  vertical-align: top;
}

.projects a  {
  text-decoration: none;
  color: gray;
  font-size: 40px;
  line-height: 1;

}

.projects a:hover {
  color: lightblue;
}

.projects p {
  margin-bottom: 5px;
}

.twettirImg {
  background: url('../images/twettir.png');
  background-size: cover;
  background-position: top;
}

.thisAppImg {
  background: url('../images/thisapp.png');
  background-size: cover;
  background-position: top;
}

.tictactoeImg {
  background: url('../images/tictactoe.png');
  background-size: cover;
  background-position: top;
}

.moviegramImg {
  background: url('../images/moviegram.png');
  background-size: cover;
  background-position: top;
}


.projectSpacer {
    height: 425vh;
  width: 100vw;
}



/*/// CONTACT ///*//*/// CONTACT ///*//*/// CONTACT ///*//*/// CONTACT ///*//*/// CONTACT ///*/




.contact {
  /*height: 50vh;*/
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact .container {
  width: 960px;
  display: inline-block;
  /*border: 1px solid black;*/
}

.contact h1 {
  font-weight: 300;
  padding: 30px 0;
  /*color: gray;*/
}

.contact h2 {
  font-weight: 300;
  font-size: 30px;
}

.contact p {
  margin-bottom: 15px;
  /*text-align: left;*/
  color: lightgray;
}

.contentCont {
  margin: 0 auto;
  margin-bottom: 20px;
  display: inline-block;
}

.contactMsg {
  max-width: 300px;
  display: inline-block;
  /*border-right: 1px solid lightgray;*/
  padding: 0 15px 0 0;
  line-height: 2;
}

@media(min-width: 640px) {
  .contactMsg {
    border-right: 1px solid lightgray;
  }
}

.contactMsg p {
  color: lightgray;
}

.contactList {
  max-width: 400px;
  display: inline-block;
  vertical-align: top;
  /*border: 1px solid black;*/
  text-align: left;
}

.contentInfo {
  /*border: 1px solid black;*/
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.4;
  margin-left: 20px;
}

.contentIcon {
  /*border: 1px solid white;*/
  display: inline-block;
  vertical-align: middle;
  margin-left: 65px;
}

.contact i:before {
  font-size: 20px;
}



/*/// FOOTER ///*//*/// FOOTER ///*//*/// FOOTER ///*//*/// FOOTER ///*//*/// FOOTER ///*/



footer {
  display: flex;
  position: relative;
  justify-content: center;
  height: 120px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.footer {
  width: 1250px;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  font-size: 13pt;
  font-weight: 300;
  text-align: center;
}

.footer a {
  margin: 0 10px;
  font-size: 40px;
  color: white;
}

.footer .links {
  position: relative;
  margin: 20px 10px;
}

.footer .copyright p {
  font-size: 14px;
  color: gray;
}

.arrowUp {
  position: relative;
  /*border: 1px solid white;*/
  /*width: 50px;*/
  height: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  top: -30px;
}

.fa-chevron-up a {
  font-size: 20px;
  position: absolute;
}

.fa-chevron-up:before {
  font-size: 30px;
}
